body {
    text-align: center;
    align-items: center;
    
}


.buttons {
    padding: 25px 400px 25px 400px;
}


.box {
    display: inline-flex;
    border: 3px solid #00D1B2;
    width: 500px;
    padding: 20px 20px;
}
.recContainer {
    flex-direction: column;
    text-align: left;
    height: 400px;
    width: 400px;
   
}

.recContainer h1 {
    text-align: center;
    font-size: 24px;

}

.movieContainer {
    flex-direction: column;
    height: 400px;
    width: 400px;
   
}

.movieContainer h1 {
    font-size: 24px;
}

img {
    align-self: center;
    max-width: 300px;
    max-height: 300px;
}